.grid{
    margin: 0 auto;
    width: 560px;
    height: 560px;
    border: solid white;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
}

h3{
    text-align: center;
}

.grid div{
    width: 20px;
    height: 20px;
}

.pink{
    background-color: pink;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
.white{
    background-color: white;
}